/* Home page section */
::selection{
    background-color:#121212 ;
    color: #ffcc00;
}
body {
    height:100%;
    font-family:'poppins',sans-serif;
    color: white;
    background: linear-gradient(135deg,#2193b0 50%,#6dd5ed 50% );
    background-attachment: fixed;
}
nav {
      position: fixed;  
      top:0;  
/*       margin-top:-0.9rem;   */
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
     margin-left:-8px; 
    margin-right: -2px;
   
}

#navp1 {
     
     text-align: center;
     font-weight: bold;
}

#navdiv{
    height:30px;
    font-size: 15px; 
    display:flex;
    justify-content: space-evenly;
    
}

#gvq-logo {
    height: 45px;
    margin-top:-30px;
    margin-left:-55px;

}
#gvq-text {
    font-weight: 500;
    margin-left: -60px;
    font-size: 25px;
    margin-top: -27px;
    
}
.nav-element {
    color: white;
    text-decoration: none;
}

.nav-element:hover {
    color: #ff5722;
}
#home-text {
 margin-top:150px;}

#home-welcome {
    margin-top: 10%;
    font-size: 3vw;
    display: flex; 
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#home-p1, #home-p2, #home-p3, #home-p4 {
    display: flex; 
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#home-p1 {
    margin-top: 1%;
}

#home-p2 {
    margin-top: -1%;
}  
#home-button1 { 
    background-color: white;
    margin-top:8vh ;
    margin-left:45%;
    padding: 1% 2% 1% 2%;
    border: none;
    border-radius:5px;
    text-decoration: none;
    color: black;
    display: block;
 }
#home-p4 {
    margin-top: -1%; 
}

#home-button1:hover {
    text-decoration: none;
    background-color:#ff5722;
    color: white;
    transform: scale(1.1);
} 
#home-button{
    text-decoration: none;
    color: black;
}     

#home-button:hover {
    color: white;
}
.confetti {
    height: 5px;
    width: 5px;
    display: inline-block;
    position: relative;
    margin-bottom: 120px;
    animation: drop;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; 
    z-index: -1;
 }
#confetti1 {
    background-color: rgb(143, 236, 145);
    animation-delay: 0s;
    left: 10%;
 }
 
 #confetti2 {
     background-color: rgb(228, 49, 49);
     animation-delay: 0.5s;
     left: 30%;
  }
  
  #confetti3 {
     background-color: rgb(211, 237, 13);
     animation-delay: 1s;
      left: 50%;
  }
  
  #confetti4 {
     background-color: rgb(177, 39, 119);
     animation-delay: 1.5s;
      left: 70%;
  }
  #confetti5 {
    background-color: rgb(159, 86, 177);
    animation-delay: 2s;
      left: 90%;
 }
@keyframes drop{
    from {  top:0px;
            opacity:1;
         }
    to {
        top: 200px;
        opacity:0.1
    }
   }


footer {
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
    padding-bottom: 5px;
    margin-left:-1%;
    margin-right:-1%;
    margin-bottom:-2px;
}   


/* Aboust us section */
#aboutus-firstline {
    margin-top: 8rem;
}

#aboutus-h3 {
    margin-left: 4rem;
}

#aboutus-ourmission {
    display: flex;
    text-shadow: 0 0 20px black;
}
  
#aboutus-letsgrowtogether {
    display: flex;
    text-shadow: 0 0 20px black;
}
  
#aboutus-missionimage {
    height: 50rem;
    margin-right: 2rem;
}
  
#aboutus-letsgo_text {
    margin-right: 2rem;
}

/* Contact us section */
#contactus-div {
    max-width: 600px;
    padding: 20px;
    margin: 50px auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: black 0 0 11px 1px;
    border-radius: 10px;
    text-align: center;
    margin-top: 8rem;
}

#contactus-div input, #contactus-div textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 0px;
    font-size: 1rem;
}

#contactus-div textarea {
    resize: none;
    overflow-y: scroll;
}

#contactus-div button {
    background: #ff5722;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 12px 20px;
}

#contactus-div button:hover {
    background: #e64a19;
    transform: scale(1.05);
}

#contactus-div h3 {
    color: white;
    margin-bottom: 0px;
}

#contactus-div a, .fa-brands{
    color: white;
    text-decoration: none;
    margin: 8px;
    font-size: 17px;
    display: inline-block;
}

#contactus-div a:hover, .fa-brands:hover {
    color: #ff5722;
    transform: scale(1.09);
}

/* Feedback section */


/* Help section */


/* login signup section */
#signup_body{
    display:flex;
   margin: 0;
}

#signup-div1{
    width:60%;
    height:100vh;
    font-family:'poppins',sans-serif;
    color: white;
    background: linear-gradient(145deg,#2193b0 37%,#6dd5ed 37% );
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
 }

#signup-p1{
    font-size: 40px;   
    text-align: center;
    font-weight: bold;
}

#signup-p2{
    margin-left: 40px;
    margin-right: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
}

#signup-div2{
    background-color: white;
    height:85%;
    border-radius: 16px;
    margin-top: -55px;
    box-shadow: -1px -1px 80px 1px gray;
}

#signup-div4{
    background-color: whitesmoke;
    width:40%;
    height:100vh;
    padding-left: 35px;
    padding-right: 35px;
}

#signup-div3{
display:flex;
flex-direction: column;
justify-content: space-evenly;
}

#signup-h2{
    text-align: center;
    font-family:'poppins',sans-serif;
    margin-top: 100px;
    padding-top: 25px;
    font-weight: 400px;
    color: black;
}

#signup-div3 input{
    height:48px;
    border-radius: 3px;
    border:solid, black, 1px;
    margin-left: 43px;
    margin-right: 43px;
    font-size: 15px;
    padding-left: 18px;  
}
#signup-div3 button{
    height:48px;
    border-radius: 3px;
    border:0px;
    color: white;
    margin-left: 43px;
    margin-right: 43px;
    font-size: 15px;  
    background: #ff5722;
    border-radius: 5px;
}

#signup-div3 button:hover{
    background: #e64a19;
    transform: scale(1.05);
}

#signup-div5 a:hover{
    transform: scale(1.05);
    font-size: 17px;  
}
#signup-div5{
    display: inline;
    
}


#signup-div5 a {
    font-weight: bold;
    font-family:'poppins',sans-serif;
    font-size: large;
    text-decoration: none;
    color:orangered;
    
   }
   #signup-div5 p{
    font-weight: bold;
    font-family:'poppins',sans-serif;
    font-size: large;
    margin-left: 60px;
    display: inline;
   }


#signup-div5 a{
    color:orangered;
    text-decoration: none;
}



/* Personal dashboard section */
#pd-div1 {
    background: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0px black;
    margin: 28px 0 20px 0;
    padding: 2px 8px 25px 8px;
    text-align: center;
}

#pd-name {
    font-size: 20px;
    margin-bottom: -15px;
}

#pd-div1 table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 25px;
}

#pd-div1 th {
    background-color: #2193b0;
    color: white;
    height: 3rem;
}

#pd-div1 th:nth-child(1) {
    width: 10%;
}
#pd-div1 th:nth-child(2) {
    width: 50%;
}
#pd-div1 th:nth-child(3) {
    width: 20%;
}
#pd-div1 th:nth-child(4) {
    width: 20%;
}

#pd-div1 td {
    height: 2rem;
}

#pd-div1 table, #pd-div1 th, #pd-div1 td {
    border: 1px solid #c9c9c9;
}

#pd-div1 button {
    background: #ff5722;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 12px 20px;
    margin-top: 10px;
}

#pd-div1 button:hover {
    background: #e64a19;
    transform: scale(1.05);
}

/* Start category section*/
body {
    height:100%;
    font-family:'poppins',sans-serif;
    color: white;
    background-attachment: fixed;
}
nav {
    position: fixed; 
    top:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left:-8px; 
    margin-right: -2px;
}

#navp1 {
    text-align: center;
    font-weight: bold;
}

#navdiv{
   height:30px;
   font-size: 15px; 
   display:flex;
   justify-content: space-evenly;
   
}
#start-category{
    text-align: center;
    margin-top: 105px;
    color:black
    
}

#startcategory-div1{
    margin-top: 50px;
    margin-left:30px;
    margin-right: 30px;
    
    

}

#startcategory{
    /*border-radius: 15px ;*/
    background-color:black ;
    height:400px;
    width:570px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    justify-content: space-around;
    /*box-shadow: -10px 10px 10px black;*/
    

    
    
}
#startcategory-div2{
    display: flex;
    
   justify-content:space-evenly;


}
#startcategory-img{
    /*width:400px;*/
    height:280px;
    margin-top: -16px;
    }
    #startcategory-quiz{
       text-align: center;
       margin-bottom: 50px;
       font-size:20px;
    }


#startcategory-div3{
    display: flex;
    justify-content:space-evenly;
  
}

#startcategory-div4{
    display: flex;
    justify-content:space-evenly;
}

#startcategory-div5{
    display: flex;
    justify-content:space-evenly;
}

#startcategory-div6{
    display: flex;
    justify-content:space-evenly;
}
body{
    height:100%;
    font-family:'poppins',sans-serif;
    color: white;
    background: linear-gradient(135deg,#2193b0 50%,#6dd5ed 50% );
    background-attachment: fixed;
}
/*#startcategory:hover{
    background-color: coral;
}*/

#startcategory-div-last{
    font-weight: bold;
}
#startcategory-p1{
    text-align: center;

}
#startcategory-p2{
    text-align: center;

}

/* CATEGORIES START SECTION */
    /* Religious category section */
#religious-h2{
    margin-top: 8rem;
}

#religious-question-div1 #q1_4_p,
#religious-question-div1 #q2_3_p,
#religious-question-div1 #q3_3_p,
#religious-question-div1 #q4_1_p,
#religious-question-div1 #q5_1_p,
#religious-question-div1 #q6_4_p,
#religious-question-div1 #q7_2_p,
#religious-question-div2 #q8_3_p,
#religious-question-div2 #q9_2_p,
#religious-question-div2 #q10_3_p,
#religious-question-div2 #q11_3_p,
#religious-question-div2 #q12_3_p,
#religious-question-div2 #q13_3_p,
#religious-question-div2 #q14_3_p,
#religious-question-div3 #q15_3_p,
#religious-question-div3 #q16_1_p,
#religious-question-div3 #q17_1_p,
#religious-question-div3 #q18_1_p,
#religious-question-div3 #q19_1_p,
#religious-question-div3 #q20_4_p,
#religious-question-div3 #q21_4_p{
  display: inline;
  color: lime;
  text-shadow: 0 0 20px black;
}

#religious-question-div1 #q1_1_p,
#religious-question-div1 #q1_2_p,
#religious-question-div1 #q1_3_p,
#religious-question-div1 #q2_1_p,
#religious-question-div1 #q2_2_p,
#religious-question-div1 #q2_4_p,
#religious-question-div1 #q3_1_p,
#religious-question-div1 #q3_2_p,
#religious-question-div1 #q3_4_p,
#religious-question-div1 #q4_2_p,
#religious-question-div1 #q4_3_p,
#religious-question-div1 #q4_4_p,
#religious-question-div1 #q5_2_p,
#religious-question-div1 #q5_3_p,
#religious-question-div1 #q5_4_p,
#religious-question-div1 #q6_1_p,
#religious-question-div1 #q6_2_p,
#religious-question-div1 #q6_3_p,
#religious-question-div1 #q7_1_p,
#religious-question-div1 #q7_3_p,
#religious-question-div1 #q7_4_p,
#religious-question-div2 #q8_1_p,
#religious-question-div2 #q8_2_p,
#religious-question-div2 #q8_4_p,
#religious-question-div2 #q9_1_p,
#religious-question-div2 #q9_3_p,
#religious-question-div2 #q9_4_p,
#religious-question-div2 #q10_1_p,
#religious-question-div2 #q10_2_p,
#religious-question-div2 #q10_4_p,
#religious-question-div2 #q11_1_p,
#religious-question-div2 #q11_2_p,
#religious-question-div2 #q11_4_p,
#religious-question-div2 #q12_1_p,
#religious-question-div2 #q12_2_p,
#religious-question-div2 #q12_4_p,
#religious-question-div2 #q13_1_p,
#religious-question-div2 #q13_2_p,
#religious-question-div2 #q13_4_p,
#religious-question-div2 #q14_1_p,
#religious-question-div2 #q14_2_p,
#religious-question-div2 #q14_4_p,
#religious-question-div3 #q15_1_p,
#religious-question-div3 #q15_2_p,
#religious-question-div3 #q15_4_p,
#religious-question-div3 #q16_2_p,
#religious-question-div3 #q16_3_p,
#religious-question-div3 #q16_4_p,
#religious-question-div3 #q17_2_p,
#religious-question-div3 #q17_3_p,
#religious-question-div3 #q17_4_p,
#religious-question-div3 #q18_2_p,
#religious-question-div3 #q18_3_p,
#religious-question-div3 #q18_4_p,
#religious-question-div3 #q19_2_p,
#religious-question-div3 #q19_3_p,
#religious-question-div3 #q19_4_p,
#religious-question-div3 #q20_1_p,
#religious-question-div3 #q20_2_p,
#religious-question-div3 #q20_3_p,
#religious-question-div3 #q21_1_p,
#religious-question-div3 #q21_2_p,
#religious-question-div3 #q21_3_p{
  display: inline;
  color: red;
  text-shadow: 0 0 20px black;
}
