 body {
   background-color: #2c2b30;
   margin: 0;
   padding: 0;
   color: white;
   width: 100;

 }


 #navbar {
   background-color: #e6e6e6;
   width: 100%;
   height: 5rem;
   position: fixed;
   color: black;
   overflow: hidden;

 }

 nav {
   margin-left: 3.5rem;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   font-size: 15px;
 }


 a {
   color: black;
   text-decoration: none;
   padding-bottom: 0.3rem;
   padding-top: 0.3rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
 }



 nav a:hover {
   background-color: #ededed;
 }

 #logo {
   height: 45px;
   border-radius: 50%;
   margin-top: -1.3rem;
 }


 #GVQ_image {
   width: 40rem;
 }


 #gvqtext {
   width: fit-content;
   display: block;
   font-family: Algerian;
   margin-left: 3.5rem;
   font-size: 1.5rem;
   margin-top: -2.7rem;
 }

 #footer-contactus {
   width: max-content;
 }

 ol {
   font-size: 18px;
 }

 #q41_1_p,
 #q42_2_p,
 #q43_1_p,
 #q44_4_p,
 #q45_4_p,
 #q46_1_p,
 #q47_3_p,
 #q48_3_p,
 #q49_3_p,
 #q50_1_p,
 #q51_2_p,
 #q52_2_p,
 #q53_2_p,
 #q54_1_p,
 #q55_2_p,
 #q56_3_p,
 #q57_2_p,
 #q58_2_p,
 #q59_3_p,
 #q60_1_p {
   display: inline;
   color: lime;
 }

 #q41_2_p,
 #q41_3_p,
 #q41_4_p,
 #q42_1_p,
 #q42_3_p,
 #q42_4_p,
 #q43_2_p,
 #q43_3_p,
 #q43_4_p,
 #q44_1_p,
 #q44_2_p,
 #q44_3_p,
 #q45_1_p,
 #q45_3_p,
 #q45_2_p,
 #q46_2_p,
 #q46_3_p,
 #q46_4_p,
 #q47_2_p,
 #q47_1_p,
 #q47_4_p,
 #q48_4_p,
 #q48_2_p,
 #q48_1_p,
 #q49_2_p,
 #q49_1_p,
 #q49_4_p,
 #q50_2_p,
 #q50_3_p,
 #q50_4_p,
 #q51_1_p,
 #q51_3_p,
 #q51_4_p,
 #q52_1_p,
 #q52_3_p,
 #q52_4_p,
 #q53_1_p,
 #q53_3_p,
 #q53_4_p,
 #q54_3_p,
 #q54_2_p,
 #q54_4_p,
 #q55_1_p,
 #q55_3_p,
 #q55_4_p,
 #q56_1_p,
 #q56_2_p,
 #q56_4_p,
 #q57_1_p,
 #q57_4_p,
 #q57_3_p,
 #q58_1_p,
 #q58_4_p,
 #q58_3_p,
 #q59_1_p,
 #q59_2_p,
 #q59_4_p,
 #q60_4_p,
 #q60_2_p,
 #q60_3_p {
   display: inline;
   color: red;
 }

 button {
   border-radius: 30px;
   display: inline-block;
   margin-bottom: 2rem;
 }


 #level3_submit {
   margin-left: 2rem;
   background-color: #2c2b30;
   padding: 0.8rem 2.2rem;
   border: 2px solid #db75b8;
   color: white;
 }



 #level3_reset {
   margin-left: 2rem;
   padding: 0.8rem 2.5rem;
   background-color: #2c2b30;
   border: 2px solid #db75b8;
   color: white;
 }

 #footer-contactus {
   width: max-content;
 }


 #level3_go {
   padding: 1em 2rem;
   float: right;
   margin-right: 2rem;
   margin-top: -4.5rem;
   background-color: #2c2b30;
   border: 2px solid #db75b8;
   color: white;
 }



 button:hover {
   background-image: linear-gradient(to bottom right, #419ed8, #d7378d);

 }

 h1 {
   font-size: 5rem;
   font-weight: 2rem;

 }


 #footer {
   background-color: #d6d6d6;
   color: #2c2b30;
   padding-bottom: 0.6rem;

 }



 @media screen and (Max-width:400px) {
   nav {
     font-size: 11px;
   }

   h1 {
     font-size: 3rem;
   }

   #level3_go {
     padding: 0.8rem 1.8rem;
     margin-top: 1rem;
     margin-left: 6rem;
   }

   #footer_contactbox {
     padding-left: 6rem;
   }


 }