body {
  background-color: #2c2b30;
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
}

#navbar {
  background-color: #e6e6e6;
  width: 100%;
  height: 5rem;
  position: fixed;
  color: black;
  overflow: hidden;

}

nav {
  margin-left: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-size: 15px;
}


a {
  color: black;
  text-decoration: none;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



nav a:hover {
  background-color: #ededed;
}


#logo {
  height: 45px;
  border-radius: 50%;
  margin-top: -1.3rem;
}


#GVQ_image {
  width: 40rem;
}



#gvqtext {
  width: fit-content;
  display: block;
  font-family: Algerian;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  margin-top: -2.7rem;
}

button {
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 2rem;
}


#level1_submit {
  margin-left: 2rem;
  background-color: #2c2b30;
  padding: 0.8rem 2.2rem;
  border: 2px solid #db75b8;
  color: white;
}



#level1_reset {
  margin-left: 2rem;
  padding: 0.8rem 2.5rem;
  background-color: #2c2b30;
  border: 2px solid #db75b8;
  color: white;
}



#level1_go {
  padding: 1em 2rem;
  float: right;
  margin-right: 2rem;
  background-color: #2c2b30;
  border: 2px solid #db75b8;
  color: white;
}

ol {
  font-size: 18px;
}

button:hover {
  background-image: linear-gradient(to bottom right, #419ed8, #d7378d);

}

h1 {
  font-size: 5rem;
  font-weight: 2rem;

}

#q81_3_p,
#q82_2_p,
#q83_1_p,
#q84_2_p,
#q85_1_p,
#q86_4_p,
#q87_2_p,
#q88_1_p,
#q89_4_p,
#q90_4_p,
#q91_3_p,
#q92_1_p,
#q93_2_p,
#q94_2_p,
#q95_4_p,
#q96_1_p,
#q97_2_p,
#q98_3_p,
#q99_3_p,
#q100_3_p {
  display: inline;
  color: lime;
}

#q81_1_p,
#q81_2_p,
#q81_4_p,
#q82_1_p,
#q82_3_p,
#q82_4_p,
#q83_4_p,
#q83_2_p,
#q83_3_p,
#q84_1_p,
#q84_3_p,
#q84_4_p,
#q85_2_p,
#q85_3_p,
#q85_4_p,
#q86_1_p,
#q86_2_p,
#q86_3_p,
#q87_1_p,
#q87_4_p,
#q87_3_p,
#q88_3_p,
#q88_2_p,
#q88_4_p,
#q89_1_p,
#q89_2_p,
#q89_3_p,
#q90_1_p,
#q90_2_p,
#q90_3_p,
#q91_1_p,
#q91_4_p,
#q91_2_p,
#q92_3_p,
#q92_4_p,
#q92_2_p,
#q93_1_p,
#q93_3_p,
#q93_4_p,
#q94_1_p,
#q94_3_p,
#q94_4_p,
#q95_2_p,
#q95_3_p,
#q95_1_p,
#q96_2_p,
#q96_3_p,
#q96_4_p,
#q97_4_p,
#q97_1_p,
#q97_3_p,
#q98_1_p,
#q98_2_p,
#q98_4_p,
#q99_1_p,
#q99_2_p,
#q99_4_p,
#q100_1_p,
#q100_2_p,
#q100_4_p {
  display: inline;
  color: red;
}

#footer {
  background-color: #d6d6d6;
  color: #2c2b30;
  padding-bottom: 0.6rem;
}


@media screen and (Max-width:400px) {
  nav {
    font-size: 11px;
  }

  h1 {
    font-size: 3rem;
  }

  #level5_go {
    padding: 0.8rem 1.8rem;
    margin-top: 1rem;
    margin-left: 6rem;
  }

  #footer_contactbox {
    padding-left: 6rem;
  }

}